body{
    background-image: url("https://wallpapermemory.com/uploads/559/cool-wallpaper-4k-372010.jpg");
}
img{
    width:420px;
   text-align:left  
  }
  h1{
      border-color: aquamarine;
      font-family: 'Times New Roman', Times, serif;
  }